<div class="container">
  <h2 class="text-center"> Your Info </h2>
                <div ng-if="!infoCtrl.compl">
                    <h3>Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a></h3>
                </div>
  <div class="row" ng-if="infoCtrl.compl && infoCtrl.shortname">
    <div class="col-sm-5">
      <div class="menu-item-photo">
        <div>{{infoCtrl.shortname}}</div>
        <img class="img-responsive" width="250" height="150" ng-src="{{infoCtrl.basePath}}images/{{infoCtrl.shortname}}.jpg" alt="{{infoCtrl.title}}">
      </div>
    </div>
    <div class="your-info col-sm-5">
      <h3 class="menu-item-title">{{infoCtrl.title}}</h3>
      <p class="menu-item-details">{{infoCtrl.description}}</p>
    </div>
  </div>
    <div class="row" ng-if="infoCtrl.compl">
        <dl>
            <dt>Your Firstname:</dt>
        <dd><label>{{infoCtrl.firstname}}</label></dd>
            <dt>Your Lastname:</dt>
        <dd><label>{{infoCtrl.lastname}}</label></dd>
            <dt>Your Email:</dt>
        <dd><label>{{infoCtrl.email}}</label></dd>
            <dt>Your Phone:</dt>
        <dd><label>{{infoCtrl.phone}}</label></dd>
        </dl>
        
    </div>
    


</div>